.perfume-table {
  width: 100%;
  border: 1px solid white;
}

.perfume-table thead, .perfume-table tr {
  border-bottom: 1px solid white;
}

.perfume-table td, .perfume-table th {
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  text-align: center;
  color: white;
}

.perfume-table thead {
  background-color: #ff0544;
}

.perfume-table tbody {
  background-color: #3d1822;
}

.perfume-table img {
  width: 250px;
}

h1 {
  text-align: center;
  color: #ff0544 ;
  text-decoration: underline;
}

p {
  text-align: center;
  color: white ;
}

body {
  margin: 2%;
  background-color: #140408;
}